
.persoonFormTable {
    width:500px;
}

/* --- Main --- */

img {
    border:0px;
}

form {
    background:#EEEEEE;
    padding:10px;
}

a {
    color:#995500;
}

#upper-table-container {
    margin-top:0px;
}


#content_box a[href^="http://www.inghist.nl"]:after
{
	color: #ACAC65;
	content: "\21D7";
	font-size: 10px;
}


h1 {
    color: #4F8FB7;
}

ul {
    list-style-image:url("../images/square2.png");
}

body {
    background:white;
}

form {
    padding-bottom:10px;
}


.visualClear {
    clear:both;
}

input[type=text] {  
    width:183px;
}

input[type=checkbox] {  
    width:auto !important;
}


#content_box h1 {
/*    color:#4F8FB7; */
}

html {
    background:white;
}

#body {
    font-size:83%;
    font-family:arial,sans-serif;
    background:white;
}


#container_box {
    background:white;
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}

th {
    text-align : left;
}  

tr {
    border-bottom : 1px solid #999;
}
th, td {
    padding: .5em .5em .5em .5em;
    vertical-align : top;
}

td ul {
    padding-left : 1em;
    margin-top : 0;
    margin-bottom : 0;
}


#footer {
    width:100%;
    height:1px;
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
}

/* --- Header --- */

#header h1 {
    color:black;
    font-family:Trebuchet MS, arial;
}

#header {
    background:white;
    color:black;
    height:46px;
    padding-bottom:0px;
    padding-top:0px;
    padding-left:5px;
}

#personal-bar {
    float:right;
    margin-right:15px;
    margin-top:-24px;
}

#personal-bar li {
    overflow:hidden;
}

/* --- Nav --- */

#navigation {
    background:url("../images/bgmenu.png") repeat-x scroll 0 0 #DEC34A;
    color:black;
    font-family:"trebuchet ms";
    height:26px;
    margin:8px auto 0;
    width:auto;
    text-transform:lowercase;
    font-weight:bold;
}

#navigation ul {
    padding-left:0px;
}

#navigation ul li {
    border-color:white;
    border-style:solid;
    border-width:0 1px 0 0;
    float:left;
    height:19px;
    overflow:hidden;
    margin-top:0px;
    margin-bottom:0px;
    padding: 5px 11px 2px 11px;
}

#navigation a {
    color:#000000;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}


/* --- Content --- */


#content_box {
    float:none;
}

#content_box_container {
    padding:15px;
    border:1px solid #CCC;
    border-top:0px;
    margin-bottom:15px;
}

#content_box {
    width:100%;
    font-family: arial, sans-serif;
    padding:0px;
}

#content_box .separator hr {
	background-color : #AAA;	
}



















/* --- Other --- */

.message {
    font-weight: bold;
    color : red;
}

table{
    border-collapse:collapse; 
    width:100%;
    border-top : 1px solid #999;
    margin-top : 1em;
}

form table {
    margin-top : .5em;
    margin-bottom : .5em;	
    margin-left:0px;
    width:auto;
}
	
form tr, form table {
    border :0;
}

form td, form th {
    padding : 0em 0.3em 0.3em 0.3em;
    vertical-align : top;
}
form th {
    text-align :right;
}

form th.sublabel {
	font-weight : normal;	
}


a:hover {
	text-decoration : underline;
}
.guess {
    }
    
.sure {
    color : black;
} 
.person_edit .info, .person .info h1, .person .info th, .person .info td {
	font-size : 0.8em;
}
.person_edit .merged {
/*        color : grey; */
}

.person_edit .merged input, .person_edit .merged select {
/*        color : grey; */
        
}
.person_edit .bioport {
		color : black;
}

.person_edit form {
	margin-bottom : 2em;
}

.person_edit table {
	width : 100%;
}
.person_edit table th {
	width : 130px;
}

li {
	margin-bottom : .2em;
	margin-top : .3em;
}

div.row {
	display : block;
	}
div.column_header {
    display: inline;
    font-weight : bold;
    width : 20em;
}
div.table {
    display : block;	
	}
div.cell, div.merged, div.bioport {
    display: inline;
}

.grey, grey a {
    color : grey;
}

span.accesskey {
    text-decoration : underline;
    font-style: normal;
}


#navigation-table {
    margin-top:15px !important;
}

#navigation-table .batch_navigation {
    margin-top:-25px;
}

.batch_navigation {
    float : right;
}

.alfabet {
    background: white !important;
}

.edit-form input {
    margin-bottom:10px;
}

.form_birth .button, 
.form_death .button, 
.form_baptism .button, 
.form_funeral .button, 
.form_floruit .button 
{
    display:none !important;
}

.edit-form table {
    width:500px;
}

table {
    border-collapse:separate;
    border-spacing:3px;
}

#right_column {
    min-width:349px;
}

.right_column_content {
    border:1px solid #CCC;
    padding:5px !important;
    background: #FDEFB3;
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    margin-bottom:10px !important;
}

.highlight {
    background:#FFFF66;
}


.gcodetable {
    border-top:0px;
    border-collapse:separate;
    border-spacing:3px;
}

.gcodetable td,
.gcodetable th {
    border:1px solid #AAAAAA;
    margin:2px;
    padding:5px;
}


input[name="death_y"],
input[name="birth_y"],
input[name="state_floruit_from_y"],
input[name="state_floruit_to_y"],
input[name="baptism_y"],
input[name="birth_notBefore_y"],
input[name="birth_notAfter_y"],
input[name="death_notBefore_y"],
input[name="death_notAfter_y"],
input[name="funeral_y"]
{
    width:36px !important;
}


#messagebox {
    background:#DEC34A;
    padding:10px !important;
    padding-left:40px !important;
    margin-bottom:10px !important;
    font-weight:bold;
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    background: url("../images/info-icon.png") no-repeat scroll 0 0 #DEC34A;
    background-position:12px 8px;
}

#warningbox {
    background:#DEC34A;
    padding:10px !important;
    padding-left:40px !important;
    margin-bottom:10px !important;
    font-weight:bold;
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    background: url("../images/warning-icon-20x20.png") no-repeat scroll 0 0 #DEC34A;
    background-position:12px 8px;
}

#warningbox ul {
    padding-left:15px;
    list-style-image:none !important;
}

.autocomplete {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #999999;
    cursor:default;
    margin:-6px 6px 6px -6px;
    max-height:350px;
    min-width:183px;
    overflow:auto;
    text-align:left;
    font-family:trebuchet MS;
}

.autocomplete-w1 {
    background:url("../js/autocomplete/shadow.png") no-repeat scroll right bottom transparent;
    left:0;
    margin:6px 0 0 6px;
    position:absolute;
    top:0;
}

.autocomplete strong {
    color:#995500;
}
input[name="personname"] {
    width:306px !important;
}

input[name="name_new"] {
    width:223px !important;
}



#contradictions {
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #E0C551;
    border:1px solid black;
    margin-bottom:10px !important;
    padding:5px !important;
}

#contradictions .title img {
    float:left;
}

#contradictions .title h3 {
    margin:0px;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:40px;
}

#contradictions .title {
}

#contradictions ul {
    list-style-image:none !important;
    padding-left:17px;
}
