.message {
    font-weight: bold;
    color : red;
}

#content_box {
    font-family: arial, sans-serif;
    }


th {
    text-align : left;
}  

td, th {
    border-top : 1px solid #999;
    padding: .5em .5em .5em .5em;
    vertical-align : top;
}

td ul {
    padding-left : 1em;
    margin-top : 0;
    margin-bottom : 0;
}

form td, form th {
    border :0;
    padding : 0em 0.3em 0.3em 0.3em;
    vertical-align : top;
}
form th {
    text-align :right;
}

form th.sublabel {
	font-weight : normal;	
}
#content_box .separator hr {

	background-color : #AAA;	
	}
a:hover {
	text-decoration : underline;
}
.guess {
    }
    
.sure {
    color : black;
} 
.person_edit .info, .person .info h1, .person .info th, .person .info td {
	font-size : 0.8em;
}
.person_edit .merged {
        color : grey;
}

.person_edit .merged input, .person_edit .merged select {
        color : grey;
        
}
.person_edit .bioport {
		color : black;

}

.person_edit form {
	margin-top : 2em;
	margin-bottom : 2em;
}

.person_edit table {
	width : 100%;
}
.person_edit table th {
	width : 130px;
}

li {
	margin-bottom : .2em;
	margin-top : .3em;
}