a .subscript  {
    color : black;
}
.column_right {
    width : 350px;	
    float : right;
	}
.birthdays .image img {
    height : 105px;
    vertical-align:text-top;

}
.birthdays .image {
    display : inline;
}

#layMenu .search_form {
    float : right;
    padding-right : 1em;
    padding-top : 1px;
}


a.external_link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(http://www.trilobiet.nl/clients/inghis/bpn/_resources/img_struct/internal.png) no-repeat scroll right center;
padding:0 17px 0 0;
}

.illustratie img {
    max-width : 200px;
    max-height: 400px;
}
/* snippets are on the "personen" page and the "persoon" page */
.snippet {
    margin-left : 2em;
    color : #999;
    font-size : .8em;
}

.colofon ul, .redactieraad ul, collecties ul, .instellingen ul, .collecties ul, .stichting ul, .about ul {
	list-style-type:disc;
	margin: 1em 0em 1em 2em;
}

.content_box {
    float : left;
    width : 650px;	
	}
	
.navigation_box {
    float: right;
    width : 200px;
    border:1px solid #DFBD48;
    height: 100%;
    padding : 1em;
    margin: 1em;
}

.navigation_box ul {
    list-style-type : none;	
	}
	

.personen .persoon {
    padding : .5em 1em .5em 1em;
	}

.personen .persoon img {
    max-height : 100px; 
    vertical-align:text-top;
    position : relative;
 } 	
 .personen .persoon .illustration {
    float : right;
 }
 
 .personen .selected  a {
    font-size : 4em !important; 
    position : relative;
    top : .2em;
 }
 
 .personen .navigation_box .selected a {
    font-size : 2em !important;    
    }