
/* --- Main --- */

.visualClear {
    clear:both;
}

input[type=text] {  
    width:183px;
}

#content_box h1 {
/*    color:#4F8FB7; */
}

html {
    background:white;
}

#body {
    font-size:83%;
    font-family:arial,sans-serif;
    background:white;
}


#container_box {
    background:white;
    width:auto;
}

th {
    text-align : left;
}  

tr {
    border-bottom : 1px solid #999;
}
th, td {
    padding: .5em .5em .5em .5em;
    vertical-align : top;
}

td ul {
    padding-left : 1em;
    margin-top : 0;
    margin-bottom : 0;
}


#footer {
    width:100%;
    height:1px;
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
}

/* --- Header --- */

#header {
    background:white;
    color:black;
    height:46px;
    padding-bottom:0px;
    padding-top:0px;
}

#personal-bar {
    float:right;
    margin-right:15px;
    margin-top:-24px;
}

#personal-bar li {
    overflow:hidden;
}

/* --- Nav --- */

#navigation {
    background:url("../images/bgmenu.png") repeat-x scroll 0 0 #DEC34A;
    color:black;
    font-family:"trebuchet ms";
    height:26px;
    margin:8px auto 0;
    width:auto;
    text-transform:lowercase;
    font-weight:bold;
}

#navigation ul {
    padding-left:18px;
}

#navigation ul li {
    border-color:white;
    border-style:solid;
    border-width:0 1px 0 0;
    float:left;
    height:19px;
    overflow:hidden;
    margin-top:0px;
    margin-bottom:0px;
    padding: 5px 14px 2px 14px;
}

#navigation a {
    color:#000000;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}


/* --- Content --- */

#content_box_container {
    padding:15px;
    }

#content_box {
    width:100%;
    font-family: arial, sans-serif;
    padding:0px;
    max-width:1024px;
}

#content_box .separator hr {
	background-color : #AAA;	
}



















/* --- Other --- */

.message {
    font-weight: bold;
    color : red;
}

table{
    border-collapse:collapse; 
    width:100%;
    border-top : 1px solid #999;
    margin-top : 1em;
}

form table {
    margin-top : .5em;
    margin-bottom : .5em;	
    margin-left:0px;
    width:auto;
}
	
form tr, form table {
    border :0;
}

form td, form th {
    padding : 0em 0.3em 0.3em 0.3em;
    vertical-align : top;
}
form th {
    text-align :right;
}

form th.sublabel {
	font-weight : normal;	
}


a:hover {
	text-decoration : underline;
}
.guess {
    }
    
.sure {
    color : black;
} 
.person_edit .info, .person .info h1, .person .info th, .person .info td {
	font-size : 0.8em;
    color : grey;
}
.person_edit .merged {
        color : grey;
}

.person_edit .merged input, .person_edit .merged select {
        color : grey;
        
}
.person_edit .bioport {
		color : black;

}

.person_edit form {
	margin-bottom : 2em;
}

.person_edit table {
	width : 100%;
}
.person_edit table th {
	width : 130px;
}

li {
	margin-bottom : .2em;
	margin-top : .3em;
}

div.row {
	display : block;
	}
div.column_header {
    display: inline;
    font-weight : bold;
    width : 20em;
}
div.table {
    display : block;	
	}
div.cell, div.merged, div.bioport {
    display: inline;
}

.grey, grey a {
    color : grey;
}

span.accesskey {
    text-decoration : underline;
    font-style: normal;
}

.batch_navigation {
    float : right;
}

.alfabet {
    background: #CCC
}

.edit-form input {
    margin-bottom:10px;
}



/* XXX - ripristinarli */

.form_birth .button, 
.form_death .button, 
.form_baptism .button, 
.form_funeral .button, 
.form_floruit .button 
{
    display:none !important;
}

.edit-form table {
    width:640px;
}

table {
    border-collapse:separate;
    border-spacing:3px;
}

#right_column {
    margin-top:-50px !important;
    min-width:349px;
}

.right_column_content {
    border:1px solid #CCC;
    padding:5px !important;
    background: #FDEFB3;
    -moz-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    margin-bottom:10px !important;
}

.highlight {
    background:#FFFF66;
}
